[Unit]
Description=Monitor de conexión a internet
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/Escritorio/automatizaciones/monitor_red/monitor_red.py
Restart=on-failure
RestartSec=10
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target
